@import "tailwindcss";

@theme {
    --color-background: #050505;
    --color-surface: #121212;
    --color-primary: #ffffff;
    --color-secondary: #a1a1aa;
    --font-sans: 'Inter', sans-serif;
}

body {
    @apply bg-background text-primary font-sans antialiased;
    zoom: 0.8;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

/* Shine animation for buttons */
@keyframes shine {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.animate-shine {
    animation: shine 0.6s ease-out forwards;
}